{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h4 class="card-title">Sign In</h4>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                          Please correct the errors below
                        </div>
                    {% endif %}
                    {% if next %}
                        <div class="alert alert-warning">
                            Please log in to see this page.
                        </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mb-3">
                            <input type="submit" value="Sign in" class="btn btn-primary" />
                            <input type="hidden" name="next" value="" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
