<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Tenders</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            {% block sidebar %}
                {% include "includes/sidebar.html" %}
            {% endblock %}
        </nav>
        <main class="col-md-10 ms-sm-auto px-4">
            {% block content %}{% endblock %}
            {% block pagination %}
                {% include "includes/pagination.html" %}
            {% endblock %}
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+k08LmhrT/q4m61n5v7Z56tw7Fs" crossorigin="anonymous"></script>
</body>
</html>
